body{
	font-family: calibri;
}

#registro{
	width: 500px;
	margin: auto;
	padding: 30px;
	
}

input{
	color: #2E2E2E;
	font-size: 18px;
	width: 458px;
	padding: 9px 20px;
	margin: 8px 0;
	border-radius: 4px;
	border: 1px solid #BABABA;
}

input[type=submit]{
	width: 100%;
	background: #3caf95;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border: none;
}

input[type=submit]:hover{
	background: #15A63C;
	cursor: pointer;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus{
	border: 1px solid #58D3F7;
}

label{
	text-transform: uppercase;
}
